[run]
source = heatingassistant
omit =
    */tests/*
    */benchmarks/*
    heating_assistant/*
branch = True

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
show_missing = True
precision = 1
